{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
    <form method="POST">
        {% csrf_token %}
        <fields class="form-group">
            <legend class="text-center mb-5">Reset password</legend>
            {{ form | crispy }}
        </fields>
        <button type="submit" class="btn btn-primary btn-lg">Reset</button>
    </form>
    {% else %}
    <div id="formContainer">
        <form id="resetPasswordForm">
            <div class="form-group">
            <label for="InputEmail" class="col-form-label-lg" id="emailLabel">Your token expired, generate new one:</label>
            <input type="email" class="form-control col-form-label-lg" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Generate</button>
        </form>
    </div>
    {% endif %}    
{% endblock content %}
{% block script %}
    <script>
        if(typeof resetPasswordForm != 'undefined'){
            resetPasswordForm.onsubmit = async (e) => {
                e.preventDefault();

                const email = document.getElementById('InputEmail').value
                let urlArray = document.URL.split('/')
                for (let index = 0; index < 3; index++) {
                    urlArray.pop()
                }
                let url = urlArray.join('/') + '/'
                let response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'email': email,
                    })
                });
                let result = await response.json()
                if (response.ok){
                    document.getElementById('formContainer').innerHTML = result['success']
                }else if(response.status == 400){
                    document.getElementById('emailLabel').innerHTML = result['email']['message'];
                    document.getElementById('emailLabel').style.color = 'red';
                }else{
                    document.getElementById('emailLabel').innerHTML = result['message'];
                    document.getElementById('emailLabel').style.color = 'red';
                }
            }
        }
    </script>
{% endblock script %}
