{% extends "index.html" %}

{% block content %}
<div id="formContainer">
    <form id="resetPasswordForm">
        <div class="form-group">
            <label for="InputEmail" class="col-form-label-lg" id="emailLabel">Email:</label>
            <input type="email" class="form-control col-form-label-lg" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
    </form>
</div>
{% endblock content %}
{% block script %}
    <script type="text/javascript">
        resetPasswordForm.onsubmit = async (e) => {
            e.preventDefault();

            const email = document.getElementById('InputEmail').value
            let url = document.URL.slice(0, document.URL.length-15) + 'api/user/reset-password/'
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'email': email,
                })
            });
            let result = await response.json()
            if (response.ok){
                document.getElementById('formContainer').innerHTML = result['success']
            }else if(response.status == 400){
                document.getElementById('emailLabel').innerHTML = result['email']['message'];
                document.getElementById('emailLabel').style.color = 'red';
            }else{
                document.getElementById('emailLabel').innerHTML = result['message'];
                document.getElementById('emailLabel').style.color = 'red';
            }
        }   
    </script>
{% endblock script %}